var touchStartX

function handleTouchStart(e) {
  touchStartX = e.changedTouches[0].clientX
}

function handleTouchEnd(e, ownerInstance) {
  var touchEndX = e.changedTouches[0].clientX

  var distanceX = touchEndX - touchStartX

  var direction = 0
  if (distanceX < 0 && distanceX < -100) {
    direction = 1
  }

  if (distanceX > 0 && distanceX > 100) {
    direction = -1
  }

  if (direction !== 0) {
    ownerInstance.callMethod("handleTouchMove", {
      direction: direction
    })
  }
}

module.exports = {
  handleTouchStart: handleTouchStart,
  handleTouchEnd: handleTouchEnd
}