.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .tabs {
    background-color: #fff;
    display: flex;
    padding: 15rpx;
    position: sticky;
    top: 0;
    z-index: 99;

    .tabs-item {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .divider {
        height: 6rpx;
        width: 50rpx;
        background-color: #f3d066;
        margin-top: 10rpx;
      }
    }

    .active {
      font-weight: 700;
    }
  }

  .tabs-panel {
    flex: 1;
    margin-top: 30rpx;
  }
}